aio-pika==6.8.2
aiormq==3.3.1
anyio==3.6.2
beautifulsoup4==4.11.1
blis==0.7.9
bpemb==0.3.4
catalogue==2.0.8
certifi==2022.12.7
charset-normalizer==2.1.1
click==8.1.3
cloudpickle==2.2.0
colorama==0.4.6
confection==0.0.3
conllu==4.5.2
contourpy==1.0.6
cycler==0.11.0
cymem==2.0.7
Cython==0.29.28
DAWG-Python==0.7.2
deeppavlov==1.0.1
Deprecated==1.2.13
docopt==0.6.2
emoji==2.2.0
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.4.1/en_core_web_sm-3.4.1-py3-none-any.whl
fastapi==0.77.1
filelock==3.7.1
flair==0.11.3
fonttools==4.38.0
ftfy==6.1.1
future==0.18.2
gdown==4.4.0
gensim==4.2.0
h11==0.14.0
huggingface-hub==0.11.1
hyperopt==0.2.7
idna==3.4
importlib-metadata==3.10.1
intervaltree==3.1.0
ipymarkup==0.9.0
Janome==0.4.2
Jinja2==3.1.2
joblib==1.2.0
kiwisolver==1.4.4
konoha==4.6.5
langcodes==3.3.0
langdetect==1.0.9
lxml==4.9.1
MarkupSafe==2.1.1
matplotlib==3.6.2
more-itertools==9.0.0
mpld3==0.3
multidict==6.0.3
murmurhash==1.0.9
natasha==1.4.0
navec==0.10.0
networkx==2.8.8
nltk==3.7
numpy==1.23.5
overrides==3.1.0
packaging==22.0
pamqp==2.3.0
pandas==1.4.4
pathy==0.10.1
Pillow==9.3.0
pptree==3.1
preshed==3.0.8
prometheus-client==0.14.1
protobuf==4.21.11
py4j==0.10.9.7
pybind11==2.2.4
pydantic==1.10.2
pymorphy2==0.9.1
pymorphy2-dicts-ru==2.4.417127.4579844
pyparsing==3.0.9
PySocks==1.7.1
python-dateutil==2.8.2
pytorch-crf==0.7.2
pytz==2022.6
PyYAML==6.0
razdel==0.5.0
regex==2022.10.31
requests==2.28.1
ru-core-news-sm @ https://github.com/explosion/spacy-models/releases/download/ru_core_news_sm-3.4.0/ru_core_news_sm-3.4.0-py3-none-any.whl
scikit-learn==1.0.2
scipy==1.8.1
segtok==1.5.11
sentencepiece==0.1.95
six==1.16.0
slovnet==0.5.0
smart-open==6.2.0
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.3.2.post1
spacy==3.4.3
spacy-legacy==3.0.10
spacy-loggers==1.0.4
sqlitedict==2.1.0
srsly==2.4.5
stanza==1.4.2
starlette==0.19.1
tabulate==0.9.0
thinc==8.1.5
threadpoolctl==3.1.0
tokenizers==0.12.1
torch==1.12.1
tqdm==4.64.1
transformers==4.20.1
typer==0.7.0
typing-utils==0.1.0
typing_extensions==4.4.0
urllib3==1.26.13
uvicorn==0.18.3
wasabi==0.10.1
wcwidth==0.2.5
Wikipedia-API==0.5.4
wrapt==1.14.1
yargy==0.15.0
yarl==1.8.2
zipp==3.11.0
